.check-point-column-note{
    margin: 0;
    padding: 0;
    width: 20%;
    height: 90%;
}
.check-point-column{
    margin: 0;
    padding: 0;
    width: 67%;
    height: auto;
}
.check-point-column-note .boxtitle,
.check-point-column .boxtitle{
    height: 3em;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.check-point-column .boxtitle .input,
.check-point-column .boxtitle label,
.check-point-column .boxtitle .space{
    height: 2em;
    width: 25%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
}
.color-group .check-point{
    margin-right: 5%;
}
.check-point-column .boxtitle .input:focus{
    outline: none;
}
.check-point-column .boxtitle{
    justify-content: space-between;
    width: 98%;
}
.check-points .form{
    width: 90%;
    height: 90%;
    background-color: transparent;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5%;
}
.check-point-box{
    width: 94%;
    height: 89%;
    max-height: 89%;
    padding: 3%;
}
.column{
    width: 100%;
    height: 95%;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.note-block{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column button{
    width: 100%;
    margin: 0;
}
.item-check{
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    color:var(--colorFirst);
}
.item-check input{
    height: 100%;
    border: 0;
    box-shadow: var(--boxShadow);
}
.note{
    display: block;
    min-width: 90%;
    min-height: 90%;
    max-width: 90%;
    max-height: 90%;
    border: none;
    outline: none;
}
.note:focus{
    outline: none;
}
.check-point-column .boxtitle .select-date{
    width: 20%;
    min-height: 2.5em;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: white;
}
