select{
    display: flex;
    justify-self: flex-end;   
    width: 5em;
    min-height: 2em;
    border: none;
    background-color: #00335E;
    color: white;
    margin-right: 2em;
}
select:focus{
    outline: none;
}
.list-departments .task-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}