.team-box{
    justify-self: center;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 93%;
    height: 90%;
    margin: 0;
    padding: 0;
}
.team-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 40%;
    height: 100%;
    max-height: 100%;
    
}
.team-partners-list,.team-quarters-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width: 90%;
    height: 100%;
    padding: 5%;
    overflow: auto;
}
.box-item{
    min-height: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
    margin: 0.04em;
}
.box-item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0em;
    padding:5%;
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    height: 90%;
}
.box-item a:hover{
    background-color: var(--colorMargin);
}
.box-item a .icon{
    justify-self: flex-end;
    height: 1.5em;
    width: auto;
}
.team-quarters-list .box-item a{
    justify-content: center;
}
.team-partner-item{
    min-height: 1em;
    height: 2em;
    padding: 0.5em;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.team-partner-item a{
    padding: 0.2em;
    width: auto;
    height: auto;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}
.options .trash-icon{
    padding: 0.2em;
    cursor: pointer;
}
.options .trash-icon:hover{
    background-color: var(--colorMargin);
}
.team-content .boxtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 3em;
    margin: 0;
}