.button,.button-refresh{
    margin: 0;
    padding: 0;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    background-color: var(--colorSecond);
    width: 90%;
    height: 2.5em;
    border:none;
    border-radius: var(--defaultRadius);
    box-shadow: 0px 0px 2px 1px black;
    color:var(--colorFourth);
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
}
.button:active{
    background-color: var(--colorFirst);
}
@media only screen and (orientation: portrait) {
    @media (min-width: 901px) {
        .button,.button-refresh{
            height:2.5em;
            padding: 0;
            font-size: 2em;
        }
    }
    @media (max-width: 900px){
        .button,.button-refresh{
            height:2.5em;
        } 
     }
    @media (max-width: 600px){
        .button,.button-refresh{
            height:2.5em;
       } 
    }
    @media (max-width: 400px){
        .button,.button-refresh{
            height:2.5em;
        } 
     }
}
.button-refresh{
    display: block;
    align-self: flex-end;
    max-width: 10em;
}
.cancel {
    background-color: var(--colorAlert);
}