.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    margin: 0;
    padding-top: 0.2%;
    background-color: var(--colorFirst);
    box-shadow: 1px 0px 2px 0px var(--colorShadow);
    height: 99.6%;
    width: 20%;
    transition-duration: 2s;
}
.logo{
    height: auto;
    width: 80%;
    margin: 0;
    border: none;
    margin-bottom: 2em;
}
.menu-options{
    width: 100%;
    height: 100%;
}