.team{
    margin: 1.6%;
    margin-right: 0;
    display: flex;
    width: 23%;
    min-height: 5em;
    background-color: rgba(12, 8, 250, 0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    border-radius: 10px;
}
.level{
    font-size: 3em;
}
.team a{
    text-decoration: none;
    color: white;
    width: 100%;
    border: none;
}