.bar{
    margin-top: 2em;
    margin-right: 2em;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3em;
}
.division{
    display:block;
    text-align: center;
}
.line{
    display: none;
}