.teams-list{
    justify-self: flex-start;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--colorBkTransp);
    box-shadow: var(--boxShadow);
}
.teams-item{
    padding: 0;
    margin:0.5%;
    width: 22%;
    height: auto;
    background-color: var(--colorMargin);
}
.teams-item a{
    flex-direction: column;
    padding-top: 0.5em;
}
.team-score-color{
    width: 90%;
    height: 0.1em;
    border: none;
}
.alert{
    background-color: var(--colorAlert);
}
.ok {
    background-color: var(--colorOk);
}
.atention{
    background-color: var(--colorAtention);
}