.item-check input{
    width: 15em;
}
.color-group{
    height: 2.5em;
    max-width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.color-group input{
    
}
.color-group label{
    width: 2em;
    height: 2em;
    display: flex;
}
.color-group input:checked  label{
    border: 5px solid black;
    box-shadow: var(--boxShadow);
}