.table{
    display: block;
    min-width: 100%;
    margin-bottom: 0.5em;
    border: none;
}
.table .title, .table .line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-width: 100%;
}
.table .line{
    background-color: rgba(0, 51, 94, 0.5);
}
.table .line:nth-child(even) {
    background: #00335E;
  }
.table .line:hover{
    background: #0384ec;
  }
.table .title{
    background-color: rgba(0, 51, 94, 0.8);

}
.table td,.table th{
    display: flex;
    min-width: 16.66%;
}