.relations-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: var(--colorFirst);
}
.relations .box-table{
    max-height: 80%;
}