.task{
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.checkPointItem{
    margin: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
}
.checkPointItem .input{
    max-width: 3em;
    max-height: 2em;
}