
body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
    padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0099B7;
  background-image: url("./img/maxresdefault.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  background-size: auto 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App custom css */
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto&display=swap');
#root{
    padding: 0;
    margin: 0;
    width:100%;
    height:auto;
    min-height: 100vh;
}
.App{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media only screen and (orientation: portrait) {
    
  .App{
        justify-content: flex-start;
        background-size:  100% auto;
    }
   
}
@media only screen and (orientation: landscape) {
   
  .App{
       background-size: auto 100%;
    }
   
}
@media (max-aspect-ratio:1/1)
{
  .App{
        background-size: 50% auto;
    }
}