.App{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  overflow: auto;
}
.body{
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width:80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--colorFourth);
  width: 100%;
  height: 100%;
}
a:hover{
  background-color: var(--colorSecond);
}

.menu-button{
  display: none;
  border-radius: var(--defaultRadius);
  background-color: var(--colorFirst);
  position: fixed;
  left: 0;
  top:0;
  margin: 1em;
  padding: 1em;
  z-index: 11;
  width: auto;
  height: auto;
}
.menu-button .menu-icon{
  width: 100%;
  height: 100%;
}
@media only screen and (orientation: landscape) {
  @media only screen and (max-width: 400px) {
    .menu{
      z-index: 10;
      position: absolute;
      width: 100%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }
 
  @media only screen and (max-width: 600px) {
    .menu{
      z-index: 10;
      position: absolute;
      width: 100%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .menu{
      z-index: 10;
      position: absolute;
      display: none;
      width: 40%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }

  @media only screen and (max-width: 992px) {
    .menu{
      z-index: 10;
      position: absolute;
      display: none;
      width: 30%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }
  @media only screen and (min-width: 993px) {
    .menu{
      display: flex;
      width: 20%;
    }
    .body{
      width: 80%;
    }
  }
}
@media only screen and (orientation: Portrait) {
  .menu{
    display: none;
    z-index: 10;
    position: absolute;
    width: 50%;
  }
  .body{
    width: 100%;
  }
  .menu .menu-options{
      
    display: none;
  }
  .menu-button{
    display: block;
  }
 
  @media only screen and (max-width: 400px) {
    .menu{
      width: 100%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }
  @media only screen and (min-width: 401px) {
    .menu{
      width: 70%;
    }
    .menu .logo{
      margin-top: 4em;
    }
    .menu-button{
      display: block;
    }
    .body{
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .menu{
      display: flex;
      width: 30%;
    }
    .body{
      width: 100%;
    }
  }
}