:root {
  --colorFirst     : #2d3436;
  --colorSecond    : #636e72;
  --colorThird     : #b2bec3;
  --colorFourth    : #dfe6e9;
  --colorMargin    : #525c5f;
  --colorAlert     : #fc4848;
  --colorOk        : #00b894;
  --colorAtention  : #fdcb6e;
  --colorSelection : #aeb6bb;
  --colorShadow    : #000000;
  --boxShadow      : 0px 0px 1px 0.1px var(--colorShadow);
  --colorBkTransp  : rgba(255, 255, 255, 0.5);
  --defaultFont    : 'Roboto', sans-serif;
  --defaultRadius  : 2px;
  --colorCancel    : #FA7863;
}

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
    padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--colorFourth);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* App custom css */
@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto&display=swap');
#root{
    padding: 0;
    margin: 0;
    width:100vw;
    height:auto;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorThird);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorSecond);
}